In [8]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline
#import libraries

In [9]:
ds = pd.read_csv("16.csv")
ds = ds.drop(ds.One)
#read csv and drop not needed column

In [10]:
ds.shape
# see number of rows and columns

(47, 7)

In [11]:
cols = ['Index','one','tax','average','paved','prop','cons']
ds.columns = cols
ds.head()
#change name of columns and look to first 5 files

   Index  one   tax  average  paved   prop  cons
0      1    1   9.0     3571   1976  0.525   541
2      3    1   9.0     3865   1586  0.580   561
3      4    1   7.5     4870   2351  0.529   414
4      5    1   8.0     4399    431  0.544   410
5      6    1  10.0     5342   1333  0.571   457

In [12]:
X = ds.drop('cons', axis=1)  
y = ds['cons']  
#choose dependent and independent variables

In [13]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)  
#choose train and test variables with 20%

In [52]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor(max_features= 'sqrt',min_samples_leaf =2)  
regressor.fit(X_train, y_train) 
#install decisiontreeregressor and fit data

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features='sqrt',
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [53]:
y_pred = regressor.predict(X_test)  
#predict

In [54]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df  
#compare actual and predicted data

    Actual   Predicted
33     628  540.500000
47     524  594.500000
43     591  621.000000
16     603  638.333333
38     648  663.333333
0      541  478.333333
34     487  663.333333
26     577  562.500000
32     577  562.500000
5      457  408.333333

In [55]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))  
# look how accurate our algorithm is
#mean abs error is 55.5 is almost 10% of the mean in the Cons of the ds. So, our algorith did great job

Mean Absolute Error: 55.533333333333346
Mean Squared Error: 5281.955555555558
Root Mean Squared Error: 72.67706347641983